Babel==2.6.0
blinker==1.4
click==6.7
-e git+https://adamgold7@bitbucket.org/dryvo/backend.git@be0a2b939d2f5a6ce193e195dceb43637c3e2467#egg=dryvo
Flask==1.0.2
Flask-BabelEx==0.9.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-Social==1.6.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
httplib2==0.11.3
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
oauth2==1.9.0.post1
passlib==1.7.1
psycopg2==2.7.5
pytz==2018.5
six==1.11.0
speaklater==1.3
SQLAlchemy==1.2.11
SQLAlchemy-Utils==0.33.4
Werkzeug==0.14.1
WTForms==2.2.1
