html,
body {
	font-family: Arial, Helvetica, sans-serif !important;
}
.rtl {
	direction: rtl;
	text-align: right;
}
.center {
	text-align: center;
}
@page {
	@bottom-center {
		content: "הופק באמצעות Dryvo, תעודת רישום מספר 226101";
	}
	@bottom-right {
		content: "דף " counter(page) " מתוך " counter(pages);
	}
}
